#!/usr/bin/make -f

DESTDIR=$(PWD)/debian/tmp
override_dh_auto_install:
	mkdir -p $(DESTDIR)/etc/redis
	mkdir -p $(DESTDIR)/etc/init
	install redis.conf $(DESTDIR)/etc/redis/redis.conf
	install $(PWD)/debian/upstart.conf $(DESTDIR)/etc/init/redis.conf
	$(MAKE) PREFIX=$(DESTDIR)/usr install
%:
	dh $@
#all:
	#include /etc/redis/redis.conf
